/* ######### CSS for Inverted Modern Bricks II Tabs. Remove if not using ######### */

.modernbricksmenu2{
padding: 0px;
margin:30px -3px 0px 0px;
width:188px;
float:left;
}

.modernbricksmenu2 ul{
margin:0;
padding: 0;
list-style: none;
outline:0 !important;
}

.modernbricksmenu2 li{
display: block;
margin: 0px 0px 7px 0px;
padding: 0px;
font-size:14px;
outline:0 !important;
}

.modernbricksmenu2 a{
display: block;
border:3px solid #c6c6c6;
color: #131313;
text-decoration: none;
margin: 0px; /*Margin between each menu item*/
padding: 15px  10px;
background-color: #c6c6c6; /*Brown color theme*/
outline:0 !important;
}

.modernbricksmenu2 a:active{
	outline:0 !important;	
}

.modernbricksmenu2 a:hover{
background-color: #b6b6b6; /*Brown color theme*/ 
color: #131313;
border-right:#fff;
border:3px solid #b6b6b6;
outline:0 !important;
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
background-color: #fff; /*Brown color theme*/ 
color: #131313;
border-color: #c6c6c6; /*Brown color theme*/
border-right:#fff;
position:relative;
outline:0 !important;
}

.tabcontent{
display:none;
}

.tabcontentstyle{
	border:3px solid #c6c6c6;
	float:left;
	width:969px;
	background:#fff;
	padding:20px;
	min-height:500px;	
}

@media print {
.tabcontent {
display:block !important;
}
}

